In [1]:
import pandas as pd

In [2]:
transfusion=pd.read_csv("transfusion.data")

In [3]:
transfusion.head(10)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0
5,4,4,1000,4,0
6,2,7,1750,14,1
7,1,12,3000,35,0
8,2,9,2250,22,1
9,5,46,11500,98,1

In [4]:
transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [5]:
transfusion.rename(columns={'whether he/she donated blood in March 2007': 'target'},inplace=True)

In [6]:
transfusion.head(2)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),target
0,2,50,12500,98,1
1,0,13,3250,28,1

In [10]:
transfusion.target.value_counts(normalize=True).round(3)

0    0.762
1    0.238
Name: target, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    transfusion.drop(columns='target'),
    transfusion.target,
    test_size=0.25,
    random_state=42,
    stratify=transfusion.target
)

In [13]:
X_train.head(2)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
334                16                  2                    500             16
99                  5                  7                   1750             26

In [15]:
!pip install tpot

Collecting tpot
  Downloading TPOT-0.11.6.post1-py3-none-any.whl (86 kB)
Requirement already satisfied: scipy>=1.3.1 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from tpot) (1.5.0)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from tpot) (0.23.1)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from tpot) (4.47.0)
Requirement already satisfied: numpy>=1.16.3 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from tpot) (1.18.5)
Collecting update-checker>=0.16
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Collecting stopit>=1.1.1
  Downloading stopit-1.1.2.tar.gz (18 kB)
Collecting deap>=1.2
  Downloading deap-1.3.1-cp38-cp38-win_amd64.whl (108 kB)
Requirement already satisfied: joblib>=0.13.2 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from tpot) (0.16.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from tpot) (1.0.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->tpot) (2.1.0)
Requirement already satisfied: requests>=2.3.0 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from update-checker>=0.16->tpot) (2.24.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.25.9)
Requirement already satisfied: six>=1.5 in c:\users\k hemanth raju\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->tpot) (1.15.0)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py): started
  Building wheel for stopit (setup.py): finished with status 'done'
  Created wheel for stopit: filename=stopit-1.1.2-py3-none-any.whl size=11959 sha256=303e2155daeefb38007eebec652d64ded7736f206e7c14dd142df38f5864520f
  Stored in directory: c:\users\k hemanth raju\appdata\local\pip\cache\wheels\a8\bb\8f\6b9328d23c2dcedbfeb8498b9f650d55d463089e3b8fc0bfb2
Successfully built stopit
Installing collected packages: update-checker, stopit, deap, tpot
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.6.post1 update-checker-0.18.0

In [16]:
from tpot import TPOTClassifier
from sklearn.metrics import roc_auc_score

C:\Users\K Hemanth Raju\anaconda3\lib\site-packages\tpot\builtins\__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")

In [17]:
tpot = TPOTClassifier(
    generations=5,
    population_size=20,
    verbosity=2,
    scoring='roc_auc',
    random_state=42,
    disable_update_check=True,
    config_dict='TPOT light'
)
tpot.fit(X_train, y_train)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=120.0, style=ProgressStyle(deâ€¦

Generation 1 - Current best internal CV score: 0.7422459184429089

Generation 2 - Current best internal CV score: 0.7422459184429089

Generation 3 - Current best internal CV score: 0.7422459184429089

Generation 4 - Current best internal CV score: 0.7422459184429089

Generation 5 - Current best internal CV score: 0.7456308339276876

Best pipeline: MultinomialNB(Normalizer(input_matrix, norm=l2), alpha=0.001, fit_prior=True)

TPOTClassifier(config_dict='TPOT light', disable_update_check=True,
               generations=5, population_size=20, random_state=42,
               scoring='roc_auc', verbosity=2)

In [18]:
tpot_auc_score = roc_auc_score(y_test, tpot.predict_proba(X_test)[:, 1])
print(f'\nAUC score: {tpot_auc_score:.4f}')

AUC score: 0.7637

In [19]:
print('\nBest pipeline steps:', end='\n')
for idx, (name, transform) in enumerate(tpot.fitted_pipeline_.steps, start=1):
    # Print idx and transform
    print(f'{idx}. {transform}')

Best pipeline steps:
1. Normalizer()
2. MultinomialNB(alpha=0.001)

In [20]:
X_train.var().round(3)

Recency (months)              66.929
Frequency (times)             33.830
Monetary (c.c. blood)    2114363.700
Time (months)                611.147
dtype: float64

In [21]:
import numpy as np

# Copy X_train and X_test into X_train_normed and X_test_normed
X_train_normed, X_test_normed = X_train.copy(), X_test.copy()

# Specify which column to normalize
col_to_normalize = 'Monetary (c.c. blood)'

# Log normalization
for df_ in [X_train_normed, X_test_normed]:
    # Add log normalized column
    df_['monetary_log'] = np.log(df_[col_to_normalize])
    # Drop the original column
    df_.drop(columns=col_to_normalize, inplace=True)

# Check the variance for X_train_normed
X_train_normed.var().round(3)

Recency (months)      66.929
Frequency (times)     33.830
Time (months)        611.147
monetary_log           0.837
dtype: float64

In [22]:
from sklearn import linear_model

# Instantiate LogisticRegression
logreg = linear_model.LogisticRegression(
    solver='liblinear',
    random_state=42
)

# Train the model
logreg.fit(X_train_normed, y_train)

# AUC score for tpot model
logreg_auc_score = roc_auc_score(y_test, logreg.predict_proba(X_test_normed)[:, 1])
print(f'\nAUC score: {logreg_auc_score:.4f}')

AUC score: 0.7891

In [23]:
!pip install operator

ERROR: Could not find a version that satisfies the requirement operator (from versions: none)
ERROR: No matching distribution found for operator

In [24]:
from operator import itemgetter

# Sort models based on their AUC score from highest to lowest
sorted(
    [('tpot', tpot_auc_score), ('logreg', logreg_auc_score)],
    key=itemgetter(1),
    reverse=True)

[('logreg', 0.7890972663699937), ('tpot', 0.7637476160203432)]